*{
    margin: 0;
    padding: 0;

}

.header{
        min-height: 100vh;
        width: 100%;
        background-image: linear-gradient(rgba(8, 44, 204, 0.041),rgba(8, 44, 204, 0.041)), url(img/alfons-morales-ylswjsy7stw-unsplash.jpg);
        background-position: center;
        background-size: cover;
        position: relative
}