body{
    text-align: center;
    background-image: linear-gradient(rgba(231, 15, 15, 0.575),rgba(231, 15, 15, 0.575)), url(img/alfons-morales-ylswjsy7stw-unsplash.jpg);
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lobster', cursive;
    
    
}

*{
    margin: 10px;
    padding: 0;
}

img{
    border-radius: 10px;

}


nav{
   
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

a{
    color: white;
   

}
